/__pycache__
data/regions/region1.csv
data/regions/region2.csv
data/regions/region3.csv
data/regions/region4.csv
testthemain.py
test_seismoi.dat
test_perifereies.csv
data/regions/region5.csv
data/regions/region7.csv
data/regions/region6.csv
data/regions/region8.csv
data/regions/region10.csv
data/regions/region9.csv
data/regions/region11.csv
data/regions/region12.csv
data/regions/region13.csv
